{% extends 'layout.twig' %}

{% block head_title %} Not Found | {{ site.title }} {% endblock %}


{% block content %}


    <article>
        <header class="page-header">
            <h1>Not Found!</h1>
        </header>

        <p>We're sorry. We could not find what you're looking for.</p>

    </article>
{% endblock %}